{% set comments = subject.comments %}

<ul>
{% for comment in comments %}
    <li>
        {% block comment_block %}
        <a href="#comment-{{ comment.id }}" name="comment-{{ comment.id }}"><b>#{{ comment.id }}</b></a> {{ comment.createdAt|date }} {{ comment.transition }}
        <br />
        {{ comment.text|nl2br|raw }}
        {% endblock %}
    </li>
{% endfor %}
</ul>
